LITELLM_BASE_URL = "https://api.openai.com/v1" # This is for your own proxy for LLM
LITELLM_API_KEY = "sk-123456" # Your api key
LITELLM_MODEL_NAME = "gpt-5" # Model used for generating factor code

DB_PATH = ":memory:" # Where the generating code conversation exists, :memory: for in-memory storage
DATASET_PATH = "/path/to/your/dataset/" # Where you put all the available data together, specified for the parent directory
FACTOR_PY_PATH = "./generated/" # Where you put the generated code
EVAL_PATH = "./out" # Where you put the evaluation results
FACTOR_DATA_PATH = "/path/to/your/factor_lab" # Where you put the calculated factor data
QUOTESDAY_PATH = "/path/to/your/quotes_day" # Where you put the quotes day data, for evaluation and factor calculation
INDEXQUOTESDAY_PATH = "/path/to/your/index_quotes_day" # Where you put the index quotes day data, for evaluation
