OPENAI_BASE_URL = "https://api.123456.com/v1"
OPENAI_API_KEY = "sk-123456"
OPENAI_MODEL_NAME = "gpt-5"

DB_PATH = ":memory:"
DATASET_PATH = "/path/to/your/dataset/"
FACTORPY_PATH = "./generated/"
EVAL_PATH = "./out"
FACTOR_DATA_PATH = "/path/to/your/factor_lab"
QUOTESDAY_PATH = "/path/to/your/quotes_day"
INDEXQUOTESDAY_PATH = "/path/to/your/index_quotes_day"